@import '../mixins.scss';

.result-page {
    @include column-center;
    margin: 5%;
}

.result-announcement {
    @include row-wrap-around;
}

.announcement-txt {
    @include column-center;
    width: 50%;
}

.announcement-txt h1 {
    font-size: 2em;
}

.mcgonagall-img {
    width: 40%;
}

.restart-btn-anchor {
    @include btn-anchor
}

.restart-btn {
    @include btn;
}
