@import '../mixins.scss';

.intro-section {
    @include column-center;
}

.intro-content {
    @include row-wrap-around;
}

.sorting-song {
    @include column;
    width: 50%;
}

.sorting-song h1 {
    text-align: center;
    font-size: 2em;
}

.get-sorted-btn {
    
}