@import '../mixins.scss';

.name-form {
    @include column-center;
    width: 50%;
    margin: 5%;
}

.name-input {
    width: 300px;
    padding: 3%;
    margin: 2.5%;
    outline: none;
    box-shadow: inset 0 0 11px black;
}

.name-btn-anchor {
    @include btn-anchor
}

.name-btn {
    @include btn;
}

.disabled-name-btn {
    background-color: $primary-gold;
    border: 2px solid $primary-maroon;
    border-radius: 20px;
    font-family: $primary-font;
    opacity: .5;
    box-shadow: 5px 5px 5px black;
    font-size: 1.25em;
    padding: 2%;
    width: 100%;
    outline: none;
}
