@import './variables.scss';

body {
  margin: 0;
  font-family: $primary-font;
  background-color: $primary-dark;
  // height: 100%;
  color: $primary-gold;
}

#blockColorblindContent {
  display: none;
}

html {
  // height: 100%;
}