@import './variables.scss';

@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row-wrap-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}