$primary-dark: #321f28;
$primary-maroon: #734046;
$primary-brown: #a05344;
$primary-gold: #e79e4f;
$red: #a20a0a;
$gold: #f0a500;
$yellow: #ffc93c;
$black: #050505;
$green: #06623b;
$silver: #dfcdc3;
$blue: #0f4c75;
$bronze: #ec823a;
$heading-font: 'Mountains of Christmas', cursive;
$primary-font: 'Lemonada';