
$primary-dark: #321f28;
$primary-maroon: #734046;
$primary-brown: #a05344;
$primary-gold: #e79e4f;
$gryffindor-red: #a20a0a;
$gryffindor-gold: #f0a500;
$hufflepuff-yellow: #ffc93c;
$hufflepuff-black: #050505;
$slytherin-green: #06623b;
$slytherin-silver: #dfcdc3;
$ravenclaw-blue: #0f4c75;
$ravenclaw-bronze: #ec823a;
$heading-font: 'Mountains of Christmas', cursive;
$primary-font: 'Lemonada';